/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* height: min-content; */
  min-height: 100vh;
  position: relative;
  font-size: 16px;
  font-weight: 500;

  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.card-container {
  background-color: hsl(0, 0%, 100%);
  max-width: 384px;
  /* max-height: 500px; */
  margin: auto;
  border-radius: 13px;
  border: solid 1px;
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 1);
  padding: 20px;
}

.card-image-container img {
  max-width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin: 0px;
}

.card-data .card-status {
  padding: 6px;
  padding-inline: 14px;
  font-weight: 800;
  background-color: hsl(47, 88%, 63%);
  display: block;
  max-width: fit-content;
  border-radius: 4px;
}

.card-publication-date {
  color: hsl(0, 0%, 7%);
}

.card-content {
  line-height: 1.4;
}

.card-content h2 {
  color: hsl(0, 0%, 7%);
}
.card-content h2:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.card-content p {
  color: hsl(0, 0%, 42%);
}

.card-author {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 800;
}

.card-author img {
  display: inline-block;
  max-width: 2em;
}

.card-author p {
  display: inline-block;
  margin: 0px;
  padding-left: 8px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
